<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algo-Course-Project</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/APanel.css') }}">
    <link rel="stylesheet" href="../static/styles/APanel.css">
</head>
<body>
    <div id="C1">
        <br>
        <label>Dynamic</label>
        <img src="../static/styles/001-job-search.png" alt="">
    </div>
    <div id="C2">
        <div id="F" onclick="f1()">
            <p for="">a. Two sequences by using alphabets of your name in random order and
                repetition with the random length from 30 to 100 characters.</p>
        </div>
        <div id="F" onclick="f2()">
            <p for="">b. Same as a.</p>
        </div>
        <div id="F" onclick="f3()">
            <p for="">c. Same as a.</p>
        </div>
        <div id="F" onclick="f4()">
            <p for="">d. A sequence of n random numbers from 0 to 100 (n varies from 30 to
                100).</p>
        </div>
        <div id="F" onclick="f5()">
            <p for="">e. Same as d.</p>
        </div>
        <div id="F" onclick="f6()">
            <p for="">f. Generate a set of n points with weights and values ranging from 1 to 100. The capital W is
                the last three digits of your roll number.</p>
        </div>
        <div id="F" onclick="f7()">
            <p for="">g. Same as d.</p>
        </div>
        <div id="F" onclick="f8()">
            <p for="">h. Same as f with W as rod length, weights as lengths and values as
                price.</p>
        </div>
        <div id="F" onclick="f9()">
            <p for="">i. Same as d with desired change as the last three digits of your roll
                number.</p>
        </div>
        <div id="F" onclick="f10()">
            <p for="">j. A set of randomly generated strings from alphabets a to z as S and
                your full name, in small letters and without space, as Input for word
                break.</p>
        </div>
    </div>
    <script>
        function f1(){
            location.href = "http://127.0.0.1:5000/problem-solver/p01";
        }
        function f2(){
            location.href = "http://127.0.0.1:5000/problem-solver/p02";
        }
        function f3(){
            location.href = "http://127.0.0.1:5000/problem-solver/p03";
        }
        function f4(){
            location.href = "http://127.0.0.1:5000/problem-solver/p04";
        }
        function f5(){
            location.href = "http://127.0.0.1:5000/problem-solver/p05";
        }
        function f6(){
            location.href = "http://127.0.0.1:5000/problem-solver/p06";
        }
        function f7(){
            location.href = "http://127.0.0.1:5000/problem-solver/p07";
        }
        function f8(){
            location.href = "http://127.0.0.1:5000/problem-solver/p08";
        }
        function f9(){
            location.href = "http://127.0.0.1:5000/problem-solver/p09";
        }
        function f10(){
            location.href = "http://127.0.0.1:5000/problem-solver/p10";
        }
    </script>
</body>
</html>